
body {
    font-family: Arial, sans-serif;
    
     background-image:url(/123321.jpg);
}
nav{
    background-color: #3993AA;
}
nav li {
  display: inline-block; 
  
}
nav li a {
  text-decoration: none; 
  color: #394f55;; 
  padding: 14px 20px;
  display: block; 
  text-align: center;
  text-decoration: none;
}


nav a:hover {
  
  color: #000000; 
}
/* contato.html */
.a{
  text-align: center;
}



